<img (click)="refreshChat()" *ngIf="showRefresh" class="bot-refresh" title="Refresh Chat"
  src="{{deployPath}}refresh.png" />
<div class="chatbot-holder">
  <div class="chat-list-holder" [ngClass]="{'fade': showQuickLinks}">
    <div class="chat-item" *ngFor="let chat of chats" [ngClass]="{
        'user': (chat.type == 0),
        'bot': (chat.type == 1),
        'bot-loading': (chat.type == 2),
        'fade': (showBotLoader && chat.type != 2)
      }">
      <div class="chat-icon" *ngIf="(chat.type == 1 || chat.type == 2)">
        <img src="https://10xdschatbotcdn.azureedge.net/botIcon.png" />
        <!-- <span>Glyn</span> -->
      </div>

      <div class="chat-content">
        <!-- Response being normal text -->
        <div *ngIf="chat.displayType == 'text'" [innerHTML]="chat.text"></div>

        <!-- Response being anything other than text -->
        <div *ngIf="chat.displayType == 'button'">

          <!-- Different cases within non-textual responses -->
          <div [ngSwitch]="chat.buttonType">

            <!-- ADAPTIVE CARD -->
            <ng-container *ngSwitchCase="'AdaptiveCard'">
              <div [innerHTML]="chat.adaptiveCardContent"></div>
            </ng-container>

            <!-- HERO CARD/ACTION BUTTONS -->
            <ng-container *ngSwitchCase="'ActionButton'">
              <div class="chat-button-text" *ngIf="chat.text?.length > 0" [innerHTML]="chat.text"></div>
              <div class="chat-button-list">
                <div class="chat-button-content" (click)="sendChat(button.title)" *ngFor="let button of chat.buttons">
                  <div [innerHTML]="button.title"></div>
                </div>
              </div>
            </ng-container>

            <!-- FILE DOWNLOAD/DOWNLOAD BUTTONS -->
            <ng-container *ngSwitchCase="'FileDownload'">
              <div class="download-button-content" (click)="downloadFile(button.contentUrl)"
                *ngFor="let button of chat.buttons">
                <span [innerHTML]="button.name"></span>
                <img src="{{deployPath}}download.png" />
              </div>
            </ng-container>

            <!--default case when there are no matches -->
            <ng-container *ngSwitchDefault>
              <div class="chat-button-text" [innerHTML]="chat.text"></div>
            </ng-container>
          </div>
        </div>

        <div class="chat-loader-text">
          <div class="loader-inner">
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="input-holder" [ngClass]="{'fade': showBotLoader || showChatBotInvokeError}">
    <input #chatBox type="text" (keyup)="enterPressed($event)" placeholder="Reply to Glyn">
    <span title="Send" (click)="sendChat(null)">
      <img src="{{deployPath}}/send.png" />
    </span>
  </div>
</div>